<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> {% endcomment %}
    {% load static %}

    <link  href="{% static 'bootstrap/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
</head>
<body>
    <table class="table table-striped table-border table-sm">
        <tr >
            <th>Roll NO</th>
            <th>Name</th>
            <th>En Number</th>
            <th> Division</th>
            <th>Group No</th>
            <th>project Detail</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        {% for stu in students %}
        <tr>
            <td>{{ stu.roll }}</td>
            <td>{{ stu.name }}</td>
            <td>{{ stu.enno }}</td>
            <td>{{ stu.div }}</td>
            <td>{{ stu.gno }}</td>
            <td>{{ stu.pdetail }}</td>
            <td>
                <a href="/myapp/delete/{{ stu.roll }}">Delete</a>
                
            </td>
            <td>
                <a href="/myapp/edit/{{ stu.roll }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a href="/myapp/viewData/"><button class="btn btn-primary me-md-2" type="button">Add Record</button></a>
    </div>
</body>
</html>